.inp-container{
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    margin: 10px 0px 10px 0px;
}

.inp-icon{
    height: 25px;
    width: 4%;
    margin-left: 2.5%;
}

.mesc{
    mix-blend-mode: lighten;
}

.inp-sign{
    background-color: transparent;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 92.5%;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}

.inp-sign::placeholder{
    color: rgba(255, 255, 255, 0.815);
    font-weight: bold;
}