.centralizer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(var(--main-color),#29D2EE);
}

.login{
    text-align: center;
    padding: 10px;
    width: 500px;
}

.login h3{
    color: white;
    margin-bottom: 40px;
    font-size: 22.5px;
}

.erro{
    color: rgb(255, 0, 0);
    margin-top: 10px;
}